#ignore data folder and logs
**/data
**/others
**/logs

#ignore Jupyter Notebooks used for testing
*.ipynb

#ignore __pycache__
**/__pycache__

#ignore test files
Test*

#ignore plots for group presentation
**/plots
